header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.top-nav-bar {
  width: 1280px;
  height: 90px;
  margin: 0 auto;
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-nav-bar img {
  width: 124px;
}

.search-form {
  flex-grow: 0.5;
  width: 300px;
  height: 46px;
  display: flex;
  border: 2px solid #21bf48;
  border-radius: 25px;
  padding: 5px 15px;
  vertical-align: center;
  display: flex;
  justify-content: space-around;
}

.search-input {
  border: none;
  outline: none;
  width: 100%;
}

.search-btn {
  background-color: inherit;
  width: 100%;
  height: 100%;
}

.search-btn img {
  width: 100%;
  height: 100%;
}

.user-menu {
  display: flex;
  gap: 20px;
}

.user-menu li {
  width: 46px;
  height: 50px;
}

.user-menu li a {
  width: 100%;
  height: 100%;
}
.user-menu li a img {
  width: 100%;
  height: 100%;
}

/* hero section */

.hero-section {
  width: 100%;
  height: 500px;
  background-color: var(--gray-color);
  margin-bottom: 80px;
  position: relative;
}

.hero-section button {
  position: absolute;
  top: 45%;
  bottom: 45%;
  background-color: none;
  border: none;
}

.button-left {
  left: 30px;
  transform: 180deg;
}

.button-right {
  right: 30px;
}

/* shopping list section */

.shopping-list-section {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.product-list-container {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 70px;
  justify-content: space-between;
  place-items: center;
}

.product-item {
  width: 380px;
}

.product-item img {
  width: 100%;
  height: 100%;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  margin-bottom: 16px;
}

.seller {
  font-size: 16px;
  line-height: 22px;
  color: var(--sub-text-color);
  margin-bottom: 10px;
}

.product-name {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 10px;
}

.price {
  display: flex;
  align-items: center;
  gap: 2px;
}

.price-val {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
