<header class="main-header">
  <section class="container header-content">
    <div class="header-first">
      <h1 class="logo">
        <a href="../index.html" data-link="home">
          <img
            alt="HODU 로고"
            data-icon="../assets/images/Logo-hodu.png"
            width="124"
            height="38"
          />
        </a>
      </h1>
      <form class="search-form" role="search">
        <fieldset>
          <legend class="scr-only">상품 검색</legend>
          <input
            type="search"
            placeholder="상품을 검색해보세요!"
            class="search-input"
          />
          <button type="submit" class="search-btn">
            <img
              src=""
              alt="검색하기"
              data-icon="icon-search.svg"
              width="28"
              height="28"
            />
          </button>
        </fieldset>
      </form>
    </div>

    <nav class="user-navigation">
      <ul class="nav-list">
        <li>
          <a href="/cart" class="nav-link" data-nav="cart">
            <img
              src=""
              alt=""
              aria-hidden="true"
              data-icon="icon-shopping-cart.svg"
              width="32"
              height="32"
            />
            <span>장바구니</span>
          </a>
        </li>
        <li id="nav-user-status">
          <a href="/login" class="nav-link" data-nav="login">
            <img
              src="../assets/images/icon-user.svg"
              alt=""
              aria-hidden="true"
              width="32"
              height="32"
            />
            <span id="login-text">로그인</span>
          </a>
          <div class="user-dropdown" id="user-dropdown">
            <a href="" class="dropdown-item btn-mypage">마이페이지</a>
            <button
              type="button"
              class="dropdown-item btn-logout"
              id="btn-logout"
            >
              로그아웃
            </button>
          </div>
        </li>
      </ul>
    </nav>
  </section>
</header>
